		@import url('font-style.css');

		html,body{font-family: "open_sanslight", "Helvetica", Arial, sans-serif; font-size: 12px; margin: 0; padding: 0;height: 100%; }
		body a:focus, body a:hover{text-decoration: none;}
		body, #preview-window{
			text-align: left; 
			min-width: 800px;
			box-sizing: border-box;
			background-color: lightgray; 
			background: #f7f7f7; /* Old browsers */
			background: -moz-linear-gradient(top,  #f7f7f7 0%, #dddddd 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #f7f7f7 0%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #f7f7f7 0%,#dddddd 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #f7f7f7 0%,#dddddd 100%); /* IE10+ */
			background: linear-gradient(to bottom,  #f7f7f7 0%,#dddddd 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
			}
		
		#bg-wrapper{
			position: static; 
			width: 100%; 
			height: 100%;
			margin: 0; 
			padding: 0; 
			position: static; 
			top: 0; 
			left: 0; 
			z-index: -1; 
			overflow: hidden; 
			border: 0px solid red;
		}
		
		#header{
			width: 100%; border: 0px solid red; height: 80px; display: block; background-color:#5ab37f; border-bottom: 1px solid white;
		}
		#header h1, form h1, #headline-list-container{font-family: 'open_sanslight', 'lubalgraph_md_btmedium', Tahoma, Georgia, Impact, sans-serif; }
		#header h1{margin: 20px; color: rgb(45, 63, 75); font-weight: 100;  }
		#header h1 a{color: white; }
		#header > img{float:left; padding: 10px; width: 80px;}
		span.button-group { float:right;background: #333333; display: inline-block; margin: 10px 10px;  padding: 10px 15px; border-radius: 30px;-webkit-box-shadow: inset 2px 2px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: inset 2px 2px 5px 0px rgba(0,0,0,0.75);
box-shadow: inset 2px 2px 5px 0px rgba(0,0,0,0.75);}
				
		/*#header span{margin: 20px 5px; float:right;}*/
		
		#headline-list-container { 
			width: 650px;
			font-size: 8px; 
			padding-left: 20px; 
			padding-bottom: 20px;
			float:right;
			max-height: 900px;
			margin-right: 20px;
			overflow: auto;

		}
		
		#content-container{
			border:0px solid green;
			margin-right: 700px;
			background: #f3f3f3;
		}

		h1{font-size: 3em; margin: 0 20px; margin-bottom: 20px; float:left; }
		h2{float:left;}
	
		.whitebg{background-color: white;}
		.box-shadow{
			-webkit-box-shadow: 0px 0px 15px rgba(50, 50, 50, 0.75);
			-webkit-box-shadow: 0px 0px 15px rgba(50, 50, 50, 0.75);
			-moz-box-shadow: 0px 0px 15px rgba(50, 50, 50, 0.75);
			box-shadow: 0px 0px 15px rgba(50, 50, 50, 0.75);}
	/* begin form styles */
		form{
			padding: 30px; 
			padding-top: 10px;
			bordeR: 0px solid white;
			border-radius: 20px; 
		}
		
		form h1{font-size: 1.3em; line-height: 1.3em;  color: #5ab37f; float: none; margin:0; margin-bottom: 20px;}
		
		label, input, select{font-size: 2em; line-height: 2em; font-weight: bold !important;}
		label {font-size: 1.1em; color: gray;width: 100%; display: block; border-bottom: 1px dotted gray; margin: 0px 0;}
		
		input, textarea{min-width: 200px; width: 100% !important;}
		
		input[type="radio"]{margin:0 !important; min-width: 30px !important; width: 30px !important;}

		label.grey{color: lightgray;}
		
		label:hover{cursor: default !important;}
		#form-submit{margin-top: 20px;}
		.form-button{font-size: 1em; line-height: 1em;}
		
		.submit, .preview, .savechanges{
				font-size: 1em;
				font-weight: bold;
				color: #fff;
				text-shadow: rgba(0,0,0,0.3) 0 -1px 0;
				text-decoration: none;
				line-height: 1.1em;
				padding: 4px 9px;

				border-width: 1px;
			}
		

				
	.button-roundy{border-radius: 11px; }
		
	/* end form styles */
		
		tr.article-list-item{margin-bottom: 5px; display:block; border-radius: 3px; padding: 2px; border-width: 1px;}
		tr.deleted{background-color:red;}
		tr.undelete{background-color:green;}

		#headline-list-container {text-align: right;}
		#headline-list-container h1{ font-size: 2.3em; padding: 0; line-height: 1em; width: 100%; border-bottom: 1px solid gray; text-align: left;}
		#headline-list{font-size: 1.3em; width: 100%; border-bottom: 1px solid gray; 			margin-bottom: 20px; text-align: left;}

		td.headline{ border: 0px solid gray; overflow: hidden; width: 500px; font-size: 1.3em; font-weight: 800; text-overflow: ellipsis;}
		td.headline a{text-decoration: none; color: #fff;}
		td.headline a:hover{text-decoration: underline;}
		td.postdate{font-size: 1em; width: 70px; max-width: 50px; display: inline-block; white-space: nowrap;  overflow: hidden;  text-overflow: ellipsis;}
		td.postdate span{border-radius: 5px; display: block; text-align: center; width: 50px; background: #666; color: white; padding: 3px; -webkit-box-shadow: inset 1px 1px 1px 1px rgba(80, 80, 80, 1);
		-moz-box-shadow: inset 1px 1px 1px 1px rgba(80, 80, 80, 1);
		box-shadow: inset 1px 1px 1px 1px rgba(80, 80, 80, 1);}
		td.hoverable span{font-size: 14px;}
			
		#load-button{text-align: center; font-size: 1em;background-color: gray; color: white; padding: 15px; border: 1px solid white; width: 100px; float:left; }
		#load-button:hover{cursor: pointer; background-color: blue;}
		.hoverable:hover{cursor: pointer; border-style: solid;}
		
		/* SET UP BUTTONS TO TOGGLE ARTICLE STATE */
		td.for-live, td.not-for-live, td.for-disc, td.not-for-disc, td.delete-button{min-width: 50px; max-width: 50px; height: 25px; color: white; text-align: center;  padding: 5px; border: 1px solid white;  cursor: pointer; margin-right: 2px;  background: #333; text-shadow: -1px -1px rgba(0, 0, 0, 0.6);}
		td.for-disc, td.not-for-disc{border-right-color: #666;}
		td.not-for-disc span, td.not-for-live span{color: gray !important; font-weight: normal;}
		td.for-disc span, td.for-live span{color: #F3BC2D !important; font-weight: bold;}

		/* SET UP TABLE ROWS TO SHOW INACTIVE AND ACTIVE ARTICLES */
		tr.activated{color:#ffffff; background-color:#5ab37f;}
		tr.activated:hover {background-color: #61c58a;}
		tr.deactivated:hover {background-color: #941616;}
		tr.deactivated{color:#ffffff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);background-color: #d9534f; }
		
		span.confirm-box{font-size: 1.2em; width: 25px;}
		span.changing{display:inline;}

		.changing img{width: 10px; height: 10px; margin-left: -5px;}

		#input-count{float:right;}
		
		.red{color: red;}
				
		.fullscreen-cover{display:none; width: 100%; height: 100%; background-color: rgba(242, 242, 242, 0.86);  z-index: 999999999999; position: absolute; top: 0; left: 0; overflow: hidden;}	
		
		#preview-window{width: 800px; height: 600px; border: 1px solid white; overflow: hidden; position: absolute; top: 25%; left: 25%;}

		div.notification{ 
			color: #333; 
			height: auto;
			width: 100%;
			box-sizing: border-box;
			text-align: center;
			border-radius: 8px;
			position: absolute;
			top: 50%;
			margin-top: -100px;
		}
		.notification p{padding: 0; margin: 0; font-size: 50px; text-align: center; font-weight: 100; line-height: 1em;}

		
		#url{color: rgb(202, 202, 202);}
		#url, #uploadconfirm{ display:inline-block; margin:5px;  width: auto;}
		#uploadconfirm{display: none; background-color: #97bf0d; color: white; padding: 5px;}
		span.fileinput-button { margin-left: 10px;}
		#progress{width:200px; margin: 5px; floaT:left; }
		#files{clear:left;}
		
		#dropzone {
			margin: 0; margin-right: 10px; padding: 50px;		
			background: #fff;
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3d3d3', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */
			width: 100%;
			border: 1px solid rgb(250, 250, 250);
			height: 150px;
			float: left;
			text-align: center;
			font-size: 24px;
			color: rgb(173, 173, 173);
			font-weight: 700;
			-webkit-box-shadow: inset 1px 1px 1px 0px rgba(0,0,0,0.5);
			-moz-box-shadow: inset 1px 1px 1px 0px rgba(0,0,0,0.5);
			box-shadow: inset 1px 1px 1px 0px rgba(0,0,0,0.5);
		}
		#dropzone.in {
					background: rgb(241, 248, 229);


		}
		#dropzone.hover {
			background: rgb(212, 233, 174);
		}
		#dropzone.fade {
			-webkit-transition: all 0.3s ease-out;
			-moz-transition: all 0.3s ease-out;
			-ms-transition: all 0.3s ease-out;
			-o-transition: all 0.3s ease-out;
			transition: all 0.3s ease-out;
			opacity: 1;
		}

		.progress{display:none;}
		
		#files canvas{border: 1px solid #999; margin: 10px; padding: 2px; margin-left: 0; }
		
		.dragger{ padding: 0 6px; cursor: move; color: rgb(233, 233, 233);}

		.dragging{ background: #333 !important; margin-left: -10px; }
		
		span.label{padding: 8px 12px; margin:0;}
		
		span.cancel {display: none; float: none;}
		
		
		
		@media screen and (max-width: 1410px) and (min-width: 1072px){
			#header h1 {font-size:1.8em;}
		}

		@media screen and (max-width: 1072px){
			#header h1 {font-size: 1.2em;}
		}
		
		#title > #header{background-color:black;}	
		
		#searchresults {
			margin-top: 20px;
			max-height: 500px;
		    overflow-y: auto;
		    overflow-x: hidden;
		}
		#searchresults table{
			width: 100%;
		}
		#searchresults table tr{
			padding: 5px;
			border-bottom: 1px dashed lightgray;
		}
		#searchresults table tr td.searched-headline {
			width: 100%;
		}
		#searchresults table tr td.searched-headline a{
			display: block;
			width: 100%;
			text-decoration: underline;
		}
		#searchresults table tr td.searched-headline .thumb{
			display: inline-block;
			width: 60px;
			padding: 5px;
		}
		#searchresults table tr td .tagline{
			font-size: 12px;
			display: inline-block;
			width: 200px;
			color: gray;
		}
		#searchresults table tr td span.postdate{
			display: block;
			font-size: 10px;
			color: lightgray;
		}

		
		.label-warning, .btn-warning{background-color: #167694 !important; border-width: 0;}
		.label-success{background-color: #5ab37f !important;}
		.label-danger{background-color: #167694 !important;}