
@charset "UTF-8";

@font-face {
  font-family: "nm-icons";
  src:url("../fonts/nm-icons.eot");
  src:url("../fonts/nm-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/nm-icons.ttf") format("truetype"),
    url("../fonts/nm-icons.svg#nm-icons") format("svg"),
    url("../fonts/nm-icons.woff") format("woff");
  font-weight: normal;
  font-style: normal;

}


[data-icon]:before {
  font-family: "nm-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1.4em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="nm-icon-"]:before,
[class*=" nm-icon-"]:before {
  font-family: "nm-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  line-height: 1.4em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nm-icon-pause-now:before {
  content: "a";
}

.nm-icon-scheduled-pause:before {
  content: "b";
}

.nm-icon-search:before {
  content: "c";
}

.nm-icon-delete:before {
  content: "d";
}

.nm-icon-trash:before {
  content: "e";
}

.nm-icon-vol-full:before {
  content: "f";
}

.nm-icon-vol-med:before {
  content: "g";
}

.nm-icon-vol-min:before {
  content: "h";
}

.nm-icon-vol-mute:before {
  content: "i";
}

.nm-icon-connection:before {
  content: "k";
}

.nm-icon-info:before {
  content: "j";
}
.nm-icon-play:before {
  content: "m";
}
.nm-icon-arrow-content-right:before {
  content: "l";
}
.nm-icon-arrow-content-left:before {
  content: "n";
}
.nm-icon-icon-artist:before {
  content: "o";
}
.nm-icon-icon-genre:before {
  content: "p";
}
.nm-icon-icon-list:before {
  content: "q";
}
.nm-icon-icon-music:before {
  content: "r";
}
.nm-icon-icon-release:before {
  content: "s";
}
.nm-icon-control-trash:before {
  content: "t";
}
.nm-icon-control-add:before {
  content: "u";
}
.nm-icon-blank-circle:before {
  content: "v";
}
.nm-icon-control-mix:before {
  content: "w";
}
.nm-icon-control-back:before {
  content: "x";
}
.nm-icon-arrow-content-down:before {
  content: "y";
}
.nm-icon-arrow-content-up:before {
  content: "z";
}
.nm-icon-visual-content:before {
  content: "A";
}
.nm-icon-visuals:before {
  content: "B";
}
.nm-icon-cogs:before {
  content: "D";
}
.nm-icon-cog:before {
  content: "E";
}
.nm-icon-checked:before {
  content: "F";
}
.nm-icon-unchecked:before {
  content: "G";
}
.nm-icon-arrow-content-bottom:before {
  content: "H";
}
.nm-icon-arrow-content-top:before {
  content: "I";
}
